<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Register Page</title>

     <div class="container">
        <div class="row">
            <div class="col">
                   {{content}}
                <div class="col-sm-6 col-12">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="{% url 'login' %}" type="button" class="btn btn-primary">Login</a>
                </form>
                </div>
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>